RESEND_API_KEY=re_your_key_here
EMAIL_FROM=legal-watch@yourkingsley.com
EMAIL_TO=ch@yourkingsley.com
NOTION_TOKEN=ntn_your_token_here
NOTION_DATABASE_ID=29106a3d-0860-4c68-8f7e-3bdeef76a452
TZ=Europe/Luxembourg
